.notification-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(105, 105, 108);
  border: 5px solid #ccc;
  padding: 15px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-content {
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
}
